.cardRelease {
  padding: 10px;
  margin: 10px;
  height: 100%;
  max-width: 700px;
  min-width: 370px;
  color: white;
  background: #fff;
  /* font-family: 'Gotham Bold'; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 32px;
  display: inline-block;
  outline: none;
  text-align: left;
  vertical-align: top;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.box1 {
  float: left;
  width: 66%;
  min-width: 100px;
  height: 100%;
  min-height: 64px;
  margin-right: 1%;
  box-sizing: border-box;
}

.box2 {
  float: right;
  width: 33%;
  min-width: 50px;
  height: 100%;
  min-height: 64px;
  margin-right: 0;
  box-sizing: border-box;
}